/*GENERELT - Gælder hele HTML*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OrgonMedium;
    src: url(../fonts/Orgon-Medium.otf);
}

button {
    cursor: pointer;
}

/*NAVIGATION*/
header {
    width: 100%;
    height: 77px;
}

nav {
    display: flex;
    align-items: center;
    background: #008559;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 57px;
}

#nav-link {
    width: 57px;
    height: 57px;
}

#skygge {
    position: absolute;
    width: 57px;
    height: 57px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px inset;
}

#nav-logo {
    width: 137px;
    height: 35px;
}

#nav-noti {
    width: 28px;
    height: 32px;
}

.nav-img {
    padding: 25px;
}

.nav-tab {
    display: none;
}

/*SIDER*/
/*Hub*/
.hub-header {
    background: #008559;
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hub-logo {
    width: 235px;
    height: 73px;
}

#noti-sort {
    display: none;
}

.hub {
    background: #D7EAD9;
    width: 335px;
    height: 633px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hub-btn {
    background: #008559;
    width: 306px;
    height: 88px;
    margin: 35px;
    border: 9px #FFF solid;
    border-radius: 18px;
    font-family: OrgonMedium;
    font-size: 40px;
    color: #FFF;
}

/*Dashboard*/
.under-graf {
    width: 390px;
    height: 298px;
    text-align: center;
}

.under-graf div {
    margin: 25px 0;
}

.under-graf button {
    background: #008559;
    border: 1px #FFF solid;
    margin: 10px;
    font-family: OrgonMedium;
    font-size: 25px;
    color: #FFF;
}

.ug-graf button {
    width: 154px;
    height: 40px;
    border-radius: 10px;
}

.ug-vaerdi button {
    width: 262px;
    height: 58px;
    border-radius: 15px;
}


/*JAVASCRIPT*/
/*CASHBEE: Login*/
#login {
    background: #FFF;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-logo {
    width: 360px;
    height: 110px;
    padding: 65px 0;
}

.login-container {
    background: #D7EAD9;
    width: 327px;
    height: 506px;
    display: flex;
    justify-content: center;
    border-radius: 29px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container input {
    width: 275px;
    height: 54px;
    margin: 30px;
    border: 3px solid #008559;
}

.login-container input , .login-container input::placeholder {
    font-family: OrgonMedium;
    font-size: 25px;
    padding: 0 5px;
}

.login-container p {
    font-family: OrgonMedium;
    font-size: 20px;
    color: #707070;
    padding: 10px;
}

.login-container button {
    background: #008559;
    width: 191px;
    height: 72px;
    margin: 25px 0;
    border: 4px #FFF solid;
    border-radius: 10px;
    font-family: OrgonMedium;
    font-size: 30px;
    color: #FFF;
}

#fejlbesked {
    display: none;
    position: absolute;
    z-index: 2;
    top: 770px;
    width: 200px;
    height: auto;
    font-family: OrgonMedium;
    font-size: 15px;
    text-align: center;
    color: #ff0000;
}

/*NORMANN: Hamburger menu*/
/* Skjul menuen som standard */
.menu {
    display: none;
    position: fixed;

  }
  /* Class to display the menu */
.show-menu {
    display: block;
    position: fixed;
    font-family: OrgonMedium;
    top: 50px; /* Juster afstanden fra toppen */
    right: 20px;
    list-style: none; /* Fjern punktopstillingsmarkører */
    padding: 60px; /* Add padding to the menu */
    background-color: #008559; /* Set the background color */
    border-radius: 2mm; /* Optional: Add rounded corners to the menu */
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

/*Teksten i hamburger*/
.show-menu li a {
    color: #FFF;
}

.hamburger {
    cursor: pointer;
    position: fixed;
    top: 3px;
    right: 20px; /* Placering til højre side */
    z-index: 999;
    font-size: 40px;
    color: #ffffff;
  }


/*JEPPE: Dropdown*/
.right-container {
    text-align: right;
}

.header-container {
    overflow: auto;
}

.header-text {
    color: black;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-background {
    background-color: #d7ead9;
    padding: 10px;
    display: inline-block;
}

.dropdown {
    display: inline-block;
    margin: 0 10px;
}

.dropbtn {
    background-color: #008559;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Orgon', sans-serif;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #008559;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Orgon', sans-serif;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/*BO: Diashow*/
#diashow {
    box-sizing: border-box;
}

.graf-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.graferne {
  display: none;
  padding: 20px;
  box-sizing: border-box;
}

.tilbage, .frem {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.frem {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.tilbage:hover, .frem:hover {
  background-color: rgba(0,133,89,0.8);
}

.tekst {
  color: #070707;
  font-size: 15px;
  padding: 8px 12px;
  position:relative;
  display: block;
  bottom: 2px;
  width:100%;
  text-align:center;
  margin-top: 2px;
}

.prik {
  cursor: pointer;
  height: 2vw;
  max-height: 15px;
  width: 2vw;
  max-width: 15px;
  margin: 0 1vw;
  background-color: #bbb;
  border-color: #008559;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.prik:active, .prik:hover {
  background-color: #008559;
}

.active {
  background-color: #008559;
}

@media screen and (min-width: 391px) {
    
    #login-logo {
        width: 500px;
        height: 141px;
    }
    
    .login-container {
        width: 402px;
        height: 387px;
    }

    .login-container input {
        width: 335px;
        height: 57px;
        margin: 20px;
        padding: 0;
    }

    .login-container p {
        margin: -15px 0 25px 0;
        padding: 0;
    }

    .login-container button {
        width: 242px;
        height: 76px;
        margin: 0px;
        padding: 0;
    }

    #fejlbesked {
        top: 680px;
        font-size: 20px;
    }

    .hub-header {
        width: 395px;
        height: 120px;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    
    #hub-logo {
        width: 303px;
        height: 90px;
    }

    #noti-sort {
        display: block;
        float: right;
        padding: 35px 50px;
        margin-top: -120px;
    }

    .hub {
        width: 930px;
        height: 539px;
        margin: 50px auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hub-btn {
        width: 369px;
        height: 220px;
        margin: 0 45px;
        border-radius: 30px;
    }

    .hub-btn:hover{
        background: #FFF;
        color: #000;
        border: none;
    }

    #nav-logo, .hamburger {
        display: none;
    }

    .nav-tab {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 820px;
        height: 57px;
    }

    .nav-tab li, .nav-tab li a {
        font-family: OrgonMedium, sans-serif;
        font-size: 30px;
        list-style: none;
        color: #FFF;
        margin: 0 30px;
    }

    #nav-noti {
        width: 40px;
        height: auto;
    }
}


