* {
    margin: 0;
    padding: 0;
}


/*Typografi*/
li {
    list-style: none;
}


/*Navigationsbar*/
header {
    width: 100vw;
    height: 57px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background: #008559;
}

nav {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo-nav {
    width: 137px;
    height: 35px;
}

nav li {
    display: none;
}

.burger div {
    width: 30px;
    height: 3px;
    background: #FFF;
    margin: 10px 0;
}

.ikon {
    width: 35px;
    height: 35px;
}

/*Login*/
.login {
    display: none;
}


@media screen and (min-width: 400px) {
    
    body {
        background: aqua;
    }
}


/*Slideshow*/
* {box-sizing: border-box;}

.graf-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.graferne {
  display: none;
  padding: 20px;
  box-sizing: border-box;
}

.tilbage, .frem {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.frem {
  right:0;
  border-radius: 3px 0 0 3 px;
}

.tilbage:hover, .frem:hover {
  background-color: rgba(0,133,89,0.8);
}

.tekst {
  color: #070707;
  font-size: 15px;
  padding: 8px 12px;
  position:relative;
  display: block;
  bottom: 2px;
  width:100%;
  text-align:center;
  margin-top: 2px;
}

.prik {
  cursor: pointer;
  height: 2vw;
  max-height: 15px;
  width: 2vw;
  max-width: 15px;
  margin: 0 1vw;
  background-color: #bbb;
  border-color: #008559;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.prik:active, .prik:hover {
  background-color: #008559;
}

.active {
  background-color: #008559;
}
