/*GENERELT - Gælder hele HTML*/
* {
    margin: 0;
    padding: 0;
}


/*TYPOGRAFI*/
@font-face {
    font-family: OrgonMedium;
    src: url(../fonts/Orgon-Medium.otf);
}

li {
    list-style: none;
}


/*NAVIGATION*/
header {
    background: #008559;
    width: 100vw;
    height: 57px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo-nav {
    width: 137px;
    height: 35px;
}

nav li {
    display: none;
}

.burger div {
    background: #FFF;
    width: 30px;
    height: 3px;
    margin: 10px 0;
}

.ikon {
    width: 35px;
    height: 35px;
}


/*SIDER*/
/*Hub*/
.hub-header {
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo-hub {
    width: 235px;
    height: 73px;
}


/*Dashboard*/
.hub {
    background: #D7EAD9;
    width: 335px;
    height: 633px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hub-btn {
    background: #008559;
    width: 306px;
    height: 88px;
    margin: 35px;
    border: 9px #FFF solid;
    border-radius: 18px;
    font-family: OrgonMedium;
    font-size: 40px;
    color: #FFF;
}


/*JAVASCRIPT*/
/*CASHBEE: Login*/
#login {
    background: #FFF;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-logo {
    width: 360px;
    height: 110px;
    padding: 65px 0;
}

.login-container {
    background: #D7EAD9;
    width: 327px;
    height: 506px;
    display: flex;
    justify-content: center;
    border-radius: 29px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-container div {
    display: flex;
    flex-direction: column;
}

.login-container input {
    width: 285px;
    height: 57px;
    margin-top: 50px;
    border: 3px solid #008559;
}

.login-container input , .login-container input::placeholder {
    font-family: OrgonMedium;
    font-size: 25px;
    padding: 0 5px;
}

.login-container p {
    font-family: OrgonMedium;
    font-size: 20px;
    color: #707070;
    padding-top: 20px;
    text-align: center;
}

.login-container button {
    background: #008559;
    width: 191px;
    height: 72px;
    margin: 50px;
    border: 4px #FFF solid;
    border-radius: 10px;
    font-family: OrgonMedium;
    font-size: 30px;
    color: #FFF;
}

#fejlbesked {
    display: none;
    position: absolute;
    z-index: 2;
    top: 685px;
    width: 200px;
    height: auto;
    font-family: OrgonMedium;
    font-size: 20px;
    text-align: center;
    color: #ff0000;
}


@media screen and (min-width: 400px) {
    
   .burger {
    display: none;
   }
}
