body {
    font-family: 'Orgon', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    text-align: right;
}

.header-text {
    color: black;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.dropdown {
    display: inline-block;
    margin: 10px;
}

.dropdown-container {
    text-align: right;
}

.dropbtn {
    background-color: #008559;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Orgon', sans-serif;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #008559;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Orgon', sans-serif;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Tilføjelse af en klasse .green-background */
.green-background {
    background-color: #d7ead9;
    padding: 10px;
    display: inline-block;
}
